[submodule "core"]
	path = core
	url = https://github.com/emprops/emp-redis-core.git

[submodule "hub"]
	path = hub
	url = https://github.com/emprops/emp-redis-hub.git

[submodule "worker"]
	path = worker
	url = https://github.com/emprops/emp-redis-worker.git

[submodule "api"]
	path = api
	url = https://github.com/emprops/emp-redis-api.git

[submodule "mock-env"]
	path = mock-env
	url = https://github.com/emprops/emp-redis-mock-env.git
